@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-space-grotesk);
  --font-display: var(--font-space-grotesk);

  --color-primary: #15bcb4;
  --color-background-light: #f8fafb;
  --color-background-dark: #22252a;

  --shadow-soft: 0 20px 40px -10px rgba(0, 0, 0, 0.05);
  --shadow-glow: 0 0 20px rgba(21, 188, 180, 0.3);
}

.drop-zone {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23CBD5E1FF' stroke-width='2' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  transition: all 0.3s ease;
}

.dark .drop-zone {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23334155FF' stroke-width='2' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.drop-zone:hover {
  background-color: rgba(21, 188, 180, 0.02);
  transform: translateY(-2px);
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2315BCB4FF' stroke-width='2' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}

button {
  cursor: pointer;
}
